
{% include 'userManagement/header.html' %}
<title>Forgot Password</title>
<body>
    <div id="login-container" class='z-depth-1'>
        <h2>Forgot Password</h2>
        {% if confirmation %}
            An email to reset your password was sent.
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <label for="id_username">Email: </label>
                <input name='email' type='text'>
                <br>
                <input class='btn btn-success btn-md' type="submit" value="Send Reset Link">
            </form>
        {% endif %}
    </div>
</body>