
{% include 'userManagement/header.html' %}
<title>Reset Password</title>
<body>
    <div id="login-container" class='z-depth-1'>
        <h2>Forgot Password</h2>
        {% if confirmation %}
            Password Succesfully reset <a href='{% url 'login' %}'>Login Here</a>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <label for="id_password">Password: </label>
                <input id="id_password" name='password' type='password'>
                <br>
                <label for="id_password">Confirm Password: </label>
                <input id="id_password2" name='password2' type='password'>
                <br>
                <input class='btn btn-success btn-md' type="submit" value="Reset Password">
            </form>
        {% endif %}
    </div>
    <script>
        $('.btn').on('click', function(e){
            e.preventDefault();
            if($('#id_password').val() != $('#id_password2').val()){
                alert('Passwords do not match');
            }
            else{
                $(this).parent().submit();
            }
        })
    </script>
</body>