.navbar {
    background: #222;
    display: flex;
    color: white;
    height: 3.5em;
    padding: 0;
}

.navbar-nav > li > a {
    height: 3.5em;
    padding: 1em;

}

.navbar-nav > li > a:hover {
    background: black;
    color: white;

}

.navbar-right > li > a {
    height: 3em;
    padding: 0.9em;

}

.navbar-right > li > a:hover {
    background: black;
    color: white;

}
